.section {
  padding-top: 120px;
  padding-bottom: 120px;

  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &:not([class*="bg-"]) + .section:not([class*="bg-"]),
  &.bg-light + .section.bg-light,
  &:not([class*="bg-"]) .section:not([class*="bg-"]):first-child {
    padding-top: 0;
  }

  &:not([class*="bg-"]) .section:not([class*="bg-"]):last-child {
    padding-bottom: 0;
  }
}