@font-face {
  font-family: "Blank River";
  src:
    url('/assets/fonts/blank_river.woff') format('woff'),
    url('/assets/fonts/blank_river.woff2') format('woff2'),
    url('/assets/fonts/blank_river.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: "Ever Looser";
//   src:
//     url('/assets/fonts/ever_looser.woff') format('woff'),
//     url('/assets/fonts/ever_looser.woff2') format('woff2'),
//     url('/assets/fonts/ever_looser.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Ever Looser Untextured";
//   src:
//     url('/assets/fonts/ever_looser_untextured.woff') format('woff'),
//     url('/assets/fonts/ever_looser_untextured.woff2') format('woff2'),
//     url('/assets/fonts/ever_looser_untextured.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }


@font-face {
  font-family: "Inter";
  src:
    url('/assets/fonts/Inter-Regular.woff') format('woff'),
    url('/assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('/assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src:
    url('/assets/fonts/Inter-Bold.woff') format('woff'),
    url('/assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('/assets/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


/* Variables */
:root {
  --font-title: "Blank River", serif;
  // --font-title: "Ever Looser", serif;
  // --font-title: "Ever Looser Untextured", serif;
  --bs-font-sans-serif: "Inter", sans-serif;
  --color-white: #ffffff;
  --color-white-rgb: 255, 255, 255;
  --color-grey: #4C4B4C;
  --color-grey-rgb: 76, 75, 76;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  --color-aquamarine: #8ccac5;
  --color-aquamarine-rgb: rgb(140, 202, 197);
  --color-sand: #F1AB5F;
  --color-sand-rgb: 243, 188, 128;
}

body {
  position: relative;
}

/* Fonts */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--font-title);
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 120%;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1.125rem;
}

@media (min-width: 992px) {
  h1, .h1 {
    font-size: 3.5rem;
  }
  
  h2, .h2 {
    font-size: 2.5rem;
  }
  
  h3, .h3 {
    font-size: 2rem;
  }
  
  h4, .h4 {
    font-size: 1.75rem;
  }
  
  h5, .h5 {
    font-size: 1.5rem;
  }
  
  h6, .h6 {
    font-size: 1.25rem;
  }
}

/* Header */

.header {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(var(--color-grey-rgb),0.25); 
  box-shadow: 0px 0px 4px 0px rgba(var(--color-grey-rgb),0.25);
}

.navbar-nav {
  --bs-navbar-nav-link-padding-x: .75rem;
}
/* Utilities */

.bg-aquamarine {
  background-color: var(--color-aquamarine);
}

.img-contain {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: contain;
}

.img-bottom {
  object-position: bottom;
}

@media (min-width: 992px) {
  .mt-lg-60 {
    margin-top: 60px;
  }
  .mb-lg-120 {
    margin-bottom: 120px;
  }
}

.btn-primary {
  --bs-btn-color: var(--color-dark);
  --bs-btn-bg: var(--color-sand);
  --bs-btn-border-color: var(--color-white);
  --bs-btn-border-width: 3px;
  --bs-btn-disabled-bg: var(--color-sand);
  --bs-btn-disabled-border-color: var(--color-sand);
  --bs-btn-hover-border-color: var(--color-white);
  --bs-btn-hover-bg: var(--color-black);
  --bs-btn-hover-color: var(--color-white);
  --bs-btn-font-weight: bold;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='2' stroke-dasharray='50%2c 20%2c 11%2c 15' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  --bs-btn-border-radius: 20px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(var(--color-grey-rgb), 0.25);
  box-shadow: 0px 2px 4px 0px rgba(var(--color-grey-rgb), 0.25);
  transition: all 0.15s ease-in-out;
}

/* Sections */

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  scroll-padding-top: 120px;

  .section {
    padding-top: 30px;
    padding-bottom: 30px;
    scroll-padding-top: 90px;
  }

  @media (min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 120px;
    scroll-padding-top: 180px;

    .section {
      padding-top: 60px;
      padding-bottom: 60px;
      scroll-padding-top: 120px;
    }
  }

  &:not([class*="bg-"]) + .section:not([class*="bg-"]),
  &.bg-light + .section.bg-light,
  .section:not([class*="bg-"]):first-child {
    padding-top: 0;
  }

  .section:not([class*="bg-"]):last-child {
    padding-bottom: 0;
  }

}

.subtitle {
  display: block;
  font-size: 1rem;
  line-height: 135%;
  font-weight: 400;
  font-family: var(--bs-font-sans-serif);
}


@media (min-width: 992px) {
  
  .contact-list-number {
    column-count: 2;
    -webkit-column-count: 2;
  }
}